1. Ubah dataset menjadi Dataframe.
2. Pisahkan atribut dan label.
3. Hapus kolom 'User ID'.
4. Latih model Logistic Regression.
5. Evaluasi akurasi model.

In [47]:
import pandas as pd

df= pd.read_csv('Social_Network_Ads.csv')

In [48]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

Kita juga perlu melihat apakah ada nilai yang kosong pada setiap atribut dengan menggunakan fungsi info(). Dapat dilihat bahwa nilai pada semua kolom sudah lengkap.

In [49]:
df.info

<bound method DataFrame.info of       User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]>

Pada dataset terdapat kolom ‘User ID’. Kolom tersebut merupakan atribut yang tidak penting untuk dipelajari oleh model sehingga perlu dihilangkan. Untuk menghilangkan kolom dari dataframe, gunakan fungsi drop. Jangan lupa panggil fungsi get_dummies() untuk melakukan proses One-Hot Encoding karena label pada dataset kita merupakan data kategorikal.

In [50]:
# drop kolom yang tidak diperlukan
data =  df.drop(columns=['User ID'])

data = pd.get_dummies(data)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

 pisahkan antara atribut dan label.

In [51]:
#Pisahkan atribut dan label.
predictions = ['Age','EstimatedSalary','Gender_Female','Gender_Male']
X = data[predictions]
y = data['Purchased']

Sebelum kita membagi data menjadi train dan test set, kita perlu melakukan normalisasi data

In [52]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaled_data = scaler.transform(X)
scaled_data = pd.DataFrame(scaled_data, columns = X.columns)
scaled_data.head

<bound method NDFrame.head of           Age  EstimatedSalary  Gender_Female  Gender_Male
0   -1.781797        -1.490046      -1.020204     1.020204
1   -0.253587        -1.460681      -1.020204     1.020204
2   -1.113206        -0.785290       0.980196    -0.980196
3   -1.017692        -0.374182       0.980196    -0.980196
4   -1.781797         0.183751      -1.020204     1.020204
..        ...              ...            ...          ...
395  0.797057        -0.844019       0.980196    -0.980196
396  1.274623        -1.372587      -1.020204     1.020204
397  1.179110        -1.460681       0.980196    -0.980196
398 -0.158074        -1.078938      -1.020204     1.020204
399  1.083596        -0.990844       0.980196    -0.980196

[400 rows x 4 columns]>

Sekarang, kita akan membagi data menjadi train dan test set dengan fungsi train_test_split yang disediakan SKLearn.

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_data, y, test_size=0.2, random_state=1)

Setelah membagi data, kita buat model dengan membuat sebuah objek logistic regression. Setelah model dibuat, kita bisa melatih model kita dengan train set menggunakan fungsi fit().

In [57]:
from sklearn import linear_model
 
# latih model dengan fungsi fit
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Setelah model dilatih, kita bisa menguji akurasi model pada test set dengan memanggil fungsi score() pada objek model.

In [58]:
from sklearn.preprocessing import StandardScaler
 
# uji akurasi model
model.score(X_test, y_test)

0.825